@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*

1. Use Figma palette
2. Less variables should be predictably repeatable. Do not use CSS variables for all data
3. Default color for text input's default state is better
4. Lines under inputs became bolder than at Figma, so it should be fixed up
5. Use en than ru comments to prevent encoding troubles

*/

// Цвет
@color-contrast: #0050B2;
@color-interactive: #1b82e3;
@color-interactive-light: #62a4e3;
@color-interactive-dark: #1b82e3;
@color-accent: #D51A1A;
@color-headers: #000000;
@color-text: #333333;

// Шрифт
@font-text: 'Roboto', sans-serif; //стиль шрифта на странице

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  min-height: 100%;
}

body {
  background-color: #F5F5F7;
  font-family: @font-text;
}

.container {
  width: 347px;
  height: 354px;
  margin: 185px auto 485px;
  background-color: #FFFFFF;
  border-radius: 37px;
  text-align: center;
}

.container img {
  width: 69px;
  height: 79px;
  margin: 50px 139px 29px 139px;
}

.container input {
  text-align: center;
  width: 177px;
  height: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  outline: none;
  border: 1px solid transparent;
}

.container input.placeholder-error::placeholder {
  color: @color-accent;
}

.container input:focus::placeholder {
  color: #E9E9E9;
}

.container input::placeholder {
  color: #CDCDCD;
}

.container div#line_login, .container div#line_password {
  width: 177px;
  border-top: 1px solid #000000;
  margin: 9px 85px 19px 85px;
  opacity: 0.7;
}

.container div#line_login.placeholder-error, .container div#line_password.placeholder-error {
  border-color: @color-accent;
}

.container button[type=submit]{
  width: 89px;
  height: 30px;
  background-color: @color-interactive;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  outline: none;
}

.container button[type=submit]:hover  {
  box-sizing: border-box;
  background-color: @color-interactive-light;
  cursor: pointer;
}
.container button[type=submit]:active {
  background-color: @color-interactive-dark;
}

.container div#wrong {
  visibility: hidden;
  width: 208px;
  height: 15px;
  margin: 19px 69px 30px 69px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: @color-accent;
}
