@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    min-height: calc(100% - 386px);
}

header {
    height: 118px;
}

header img.logo {
    float: left;
}

div.order_img:hover {
    box-shadow: 10px 10px 10px #ccc;
    border-radius: 25px;
    cursor: pointer;
}

.navbar {
    padding: 50px 167px 0 98px;
    max-width: 1366px;
    height: 90px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
}

.navbar.search {
    width: 23px;
    height: 23px;
}

.block_menu {
    float: right;
}

.navbar ul.menu {
    width: 603px;
    height: 10px;
}

.navbar ul.menu li {
    display: inline-block;
    padding: 10px;
}

.navbar ul.menu li a {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.4px;
}

.navbar ul.menu li.text_style_1 {
    border-bottom: 3px solid #212121;
}

.navbar ul.menu li. a.text_style_1 {
    color: #212121;
    font-weight: 700;
}

.navbar ul.menu li:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.navbar ul.menu li a:hover {
    color: #212121;
    font-weight: 700;
}

.product {
    height: 794px;
    max-width: 1366px;
}

.product div.links {
    max-width: 1366px;
    height: 73px;
    background-color: #F4F4F4;
    padding-top: 29px;
    padding-left: 345px;
}

.product div.links  ul.menu li {
    display: inline-block;
    font-weight: 700;
    padding: 10px;
    color: #6C6C6C;
    font-style: normal;
    font-size: 17.9891px;
    letter-spacing: 1.79892px;
}

.product div.links  ul.menu li:hover {
    color: #212121;
    font-weight: 700;
    cursor: pointer;
}

.grid_style {
    display: grid;
    grid-template-columns: 50% 50%;
}

.product div.product_img {
    width: 570px;
    height: 671px;
    margin: 72px 699px 250px 97px;
    float: left;
}
.product div.little {
    width: 230px;
    height: 71px;
    margin-top:10px;
    margin-left: 180px;
}

.product div.text {
    float: right;
}

.product div.text div.title {
    margin-top: 119px;
    margin-left: 183px;
    width: 266px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 35.9817px;
    color: #212121;
}

.product div.text div.price {
    margin-top: 66px;
    margin-left: 181px;
    width: 267px;
    height: 57px;
    font-size: 36px;
    line-height: 48px;
    color: #212121;
}

.product div.text div.price i {
    font-style: normal;
    font-size: 48px;
}

.product div.order_img {
    margin-top: 36px;
    margin-left: 55px;
    background-image: url("../img/order_product_1.png");
    width: 512px;
    height: 73px;
    text-align: center;
}

.product div.order_img:hover {
    border-radius: 40px;
}

.product div.text div.order {
    font-style: normal;
    font-weight: bold;
    font-size: 21.9888px;
    line-height: 24px;
    letter-spacing: 4.39776px;
    color: #FFFFFF;
    padding-top: 20px;
}

.product div.text div.details {
    width: 529px;
    margin-top: 44px;
    margin-left: 61px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #212121;
}

.trending_products {
    margin: 245px auto 120px auto;
    width: 1172px;
    height: 468px;
}

.trending_products div.title_1 {
    float: left;
    width: 361px;
    height: 35px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #212121;
}

.trending_products div.title_2, .trending_products div.title_2 a {
    float: right;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #6C6C6C;
    margin-top: 10px;
}

.trending_products div.title_2 a:hover {
    border-bottom: 3px solid #6c6c6c;
    cursor: pointer;
}

.trending_products div.products {
    width: 1170px;
    height: 370px;
    padding-top: 99px;
}

.trending_products  div.trend1, .trending_products div.trend2, .trending_products div.trend3 {
    width: 370px;
    height: 370px;
    display: inline-block;
    float: left;
}

.product_img div.little img:hover, .trending_products  div.trend1:hover, .trending_products div.trend2:hover, .trending_products div.trend3:hover {
    opacity: 0.7;
    cursor: pointer;
}

.trending_products div.trend1 {
    background-image: url("../img/trend1.png");
}

.trending_products div.trend2 {
    background-image: url("../img/trend2.png");
    margin-left: 30px;
}

.trending_products div.trend3 {
    background-image: url("../img/trend3.png");
    margin-left: 30px;
}

footer {
    max-width: 1366px;
    height: 386px;
    background-image: url("../img/footer.png");
    margin: auto;
}

footer div.block1, footer div.block2, footer div.block3, footer div.block4, footer div.block5, footer div.block6 {
    display: inline-block;
    float: left;
}

footer div.block1 {
    width: 251px;
    height: 138px;
    margin-top: 118px;
    margin-left: 98px;
}

footer div.text_1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.8px;
    color: #6C6C6C;
}

footer div.text_2 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
    padding-top: 10px;
}

footer div.text_3 {
    display: grid;
    grid-template-columns: 50% 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.7px;
    color: #212121;
    padding-top: 10px;
}

footer div.text_3 ul {
    list-style-type: none;
    text-decoration: none;
}

footer div.block2 {
    width: 452px;
    height: 98px;
    margin-top: 118px;
    margin-left: 50px;
}

footer div.block3 {
    width: 394px;
    height: 151px;
    margin-top: 118px;
    margin-left: 47px;
}

footer div.form {
    padding-top: 10px;
}

footer input[type=email]{
    width: 370px;
    height: 48px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #6C6C6C;
}

footer input[type=submit] {
    height: 17px;
    width: 21px;
    border: 1px none transparent;
    background-color: transparent;
    float: right;
    position: relative;
    background-image: url("../img/sent.png");
    top: -35px;
    right: 40px;
}

footer div.block4 {
    width: 392px;
    height: 26px;
    margin-top: 59px;
    margin-left: 99px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.6px;
    color: #6C6C6C;
    text-transform: uppercase;
}

footer div.block5 {
    width: 159px;
    height: 28px;
    margin-top: 50px;
    margin-left: 113px;
}

footer div.block6 {
    width: 380px;
    height: 26px;
    margin-top: 59px;
    margin-left: 127px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #6C6C6C;
}