@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    min-height: calc(100% - 386px);
}

header {
    height: 362px;
    background-image: url("../img/header_contact.png");
}

header img.logo {
    float: left;
}

div.order_img:hover {
    box-shadow: 10px 10px 10px #ccc;
    border-radius: 25px;
    cursor: pointer;
}

.navbar {
    padding: 50px 167px 0 98px;
    max-width: 1366px;
    height: 90px;
    background: #f9f9f9;
    box-sizing: border-box;
}

.navbar.search {
    width: 23px;
    height: 23px;
}

.block_menu {
    float: right;
}

ul.menu {
    width: 603px;
    height: 10px;
}

ul.menu li {
    display: inline-block;
    font-weight: 700;
    padding: 10px;
}

ul.menu li a {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.4px;
}

ul.menu li.text_style_1 {
    border-bottom: 3px solid #212121;
}

ul.menu li. a.text_style_1 {
    color: #212121;
    font-weight: 700;
}

ul.menu li:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
    cursor: pointer;
}

ul.menu li a:hover {
    color: #212121;
    font-weight: 700;
}

.letter {
    margin-top: 166px;
    margin-left: 102px;
    font-style: normal;
    font-weight: 200;
    font-size: 62px;
    line-height: 72px;
    color: #212121;
    float: left;
}

.slider {
    width: 500px;
    height: 243px;
    margin: 258px 780px 0 57px;
    box-sizing: border-box;
}

.slider div.tag {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
    color: white;
    letter-spacing: 1.8px;
}

.slider div.name {
    font-style: normal;
    font-weight: 200;
    font-size: 62px;
    line-height: 72px;
    color: #212121;
}

.slider div.details {
    padding: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
}

.slider div.order_img {
    background-image: url("../img/order.png");
    width: 214px;
    height: 47px;
}

.slider div.order {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #6C6C6C;
    margin-left: 37px;
    margin-top: 20px;
    padding-top: 10px;
}

.navigation {
    width: 120px;
    height: 40px;
    margin: 147px auto 20px auto;
    box-sizing: border-box;
}

.promo_products {
    width: 1366px;
    height: 683px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.promo_products div.promo_content_1, .promo_products div.promo_content_2 {
    height: 683px;
}

.promo_products div.promo_content_1 {
    background-image: url("../img/promo_product_1.png");
}

.promo_products div.promo_content_2 {
    background-image: url("../img/promo_product_2.png");
}

.promo_products div.promo {
    padding-left: 51px;
    padding-top: 213px;
}

.promo_products div.promo div.tag {
    width: 145px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 1.8px;
    color: white;
}

.promo_products div.promo div.name {
    width: 266px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #212121;
}

.promo_products div.promo div.details {
    margin-top: 30px;
    width: 404px;
    height: 36px;
    font-style: normal;
    font-weight: 300;
    font-size: 13.9897px;
    line-height: 24px;
    color: #6c6c6c;
}

.promo_products div.promo div.order_img {
    background-image: url("../img/order.png");
    width: 214px;
    height: 47px;
}

.promo_products div.promo div.order {
    margin-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #6C6C6C;
    padding-top: 10px;
    text-align: center;
}

.trending_products_1 {
    margin: 70px 584px 20px 97px;
    width: 685px;
    height: 36px;
}

.trending_products_1 ul.menu li {
    display: inline-block;
    font-weight: 700;
    padding: 10px;
    color: #6C6C6C;
    border-bottom: 3px solid #6C6C6C;
}

.trending_products_1 ul.menu li:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
    cursor: pointer;
}

.trending_products_2 div.products, .trending_products_3 div.products {
    width: 1170px;
    height: 770px;
}

.trending_products_2 div.products {
    margin: 49px auto 29px;
}
.trending_products_3 div.products {
    margin: 0 auto 49px;
}

div.trend1, div.trend2, div.trend3, div.trend4, div.trend5, div.trend6 {
    width: 370px;
    height: 370px;
    display: inline-block;
    float: left;
}

div.trend1:hover, div.trend2:hover, div.trend3:hover, div.trend4:hover, div.trend5:hover, div.trend6:hover {
    opacity: 0.7;
    cursor: pointer;
}

div.trend1 {
    background-image: url("../img/trend1.png");
}

div.trend2 {
    background-image: url("../img/trend2.png");
    margin-left: 30px;
}

div.trend3 {
    background-image: url("../img/trend3.png");
    margin-left: 30px;
}

div.trend4 {
    background-image: url("../img/trend4.png");
    margin-top: 30px;
}

div.trend5 {
    background-image: url("../img/trend5.png");
    margin-left: 30px;
    margin-top: 30px;
}

div.trend6 {
    background-image: url("../img/trend6.png");
    margin-left: 30px;
    margin-top: 30px;
}

.reload img{
    margin: 49px 657px 119px 637px;
}

.reload img:hover {
    cursor: pointer;
}

footer {
    max-width: 1366px;
    height: 386px;
    background-image: url("../img/footer.png");
    margin: auto;
}

footer div.block1, footer div.block2, footer div.block3, footer div.block4, footer div.block5, footer div.block6 {
    display: inline-block;
    float: left;
}

footer div.block1 {
    width: 251px;
    height: 138px;
    margin-top: 118px;
    margin-left: 98px;
}

footer div.text_1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.8px;
    color: #6C6C6C;
}

footer div.text_2 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
    padding-top: 10px;
}

footer div.text_3 {
    display: grid;
    grid-template-columns: 50% 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.7px;
    color: #212121;
    padding-top: 10px;
}

footer div.text_3 ul {
    list-style-type: none;
    text-decoration: none;
}

footer div.block2 {
    width: 452px;
    height: 98px;
    margin-top: 118px;
    margin-left: 50px;
}

footer div.block3 {
    width: 394px;
    height: 151px;
    margin-top: 118px;
    margin-left: 47px;
}

footer div.form {
    padding-top: 10px;
}

footer input[type=email]{
    width: 370px;
    height: 48px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #6C6C6C;
}

footer input[type=submit] {
    height: 17px;
    width: 21px;
    border: 1px none transparent;
    background-color: transparent;
    float: right;
    position: relative;
    background-image: url("../img/sent.png");
    top: -35px;
    right: 40px;
}

footer div.block4 {
    width: 392px;
    height: 26px;
    margin-top: 59px;
    margin-left: 99px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.6px;
    color: #6C6C6C;
    text-transform: uppercase;
}

footer div.block5 {
    width: 159px;
    height: 28px;
    margin-top: 50px;
    margin-left: 113px;
}

footer div.block6 {
    width: 380px;
    height: 26px;
    margin-top: 59px;
    margin-left: 127px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #6C6C6C;
}