* {
    background-color: #f8f8f8;
}

/*Шапка*/

header {
    min-height: 100px;
}

header a {
    color: blue;
    font-size: 20px;
    font-family: FuturaBookC, sans-serif;
}

header a:hover {
    color: forestgreen;
}

header li {
    list-style-type: none;
}

header img {
    height: 100px;
    float: right;
 }

/*Страничка Главная*/

.h_center {
    text-align: center;
}

/*Страничка продукта*/
.h_product {
    color: black;
    font-size: 18px;
    background-color: #eaeaea;
    font-weight: 400;
}

.h_product_img {
    border: 10px solid silver;
}

.h_product_fd:first-letter, .h_product_sd:first-letter {
    color: blue;
    font-size: 16px;
}

.h_product_fd {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.h_product_ol {
    color: #505050;
    font-size: 16px;
    line-height: 16px;
    list-style-image: url("../img/catalog/product_ol.png");
    text-align: center;
}

.h_product_sd {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

table {
    border: 2px solid silver;
}

/*Страничка Контакты*/

input {
    text-transform: capitalize;
    height: 20px;
    width: 200px;
    border-radius: 10px;
    font-size: 14px;
    color: blue;
}

#text_field {
    height: 100px;
    width: 300px;
}

.contact_ol {
    list-style-type: none;
}
