/* Основные настройки внешего вида */

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
            "hea hea hea"
            "nav article ads"
            "foot foot foot";
    grid-template-rows: 25px 1fr;
    grid-template-columns: 10% 1fr 10%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    max-height: 100vh;
    margin: 0;
    background-color: #705aca;
    font-family: "FuturaBookC", sans-serif;
    font-size: 1.4em;
}

#pageHeader {grid-area: hea;}
#mainArticle {grid-area: article;}
#mainNav {grid-area: nav;}
#siteAds {grid-area: ads;}
#foot {grid-area:foot;}

/* Изменения панелей. Функционал 1 */

#photo_change, #status_change, #fio_change, #dr_change, #hobby_change, #vk_change {
    display: none;
    margin: 100px;
    padding: 50px;
    text-align: center;
    background-color: #cccccc;
    border-radius: 30px;
}

#work_change {
    display: none;
    margin: 50px;
    padding: 50px;
    text-align: center;
    background-color: #cccccc;
    border-radius: 30px;
}

#photo_change input[type=text], #status_change input[type=text], #fio_change input[type=text], #vk_change input[type=text]{
    width: 100%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url(//www.gravatar.com/avatar/cbfaff96665b7567defe1b34a883db8b?s=16&d=identicon&r=PG) no-repeat center;
    background-size: contain;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/* Шапка */

header {
    display: block;
    margin-top:5px;
    margin-bottom: 5px;
    text-align: center;
}

header span {
    color: white;
}

/* Информативный блок сайта */

article {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 2fr;
    min-height: 495px;
}

.left {
    display: block;
    float: left;
    background-color: white;
}

#photo {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#photo #image {
    min-width: auto;
    min-height: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#status {
    display: block;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
    max-height: 100px;
    width: 290px;
    background-color: lightgrey;
    text-align: center;
    transform: translate(10px, -50px);
}

#status span {
    color: black;
}

.right {
    display: block;
    padding: 20px;
    float: right;
    background-color: white;
}

.img  {
    cursor: pointer;
    opacity: 0.2;
}

.img:hover {
    cursor: pointer;
    opacity: 1;
}

#fio {
    font-size: 1.3em;
    font-weight: bolder;
    color: #705aca;
}

#hobby, #work {
    margin-left: 20px;
}
#hobby_letter, #work_letter {
    margin-left: 20px;
}

#work_letter {
    font-stretch: semi-expanded;
    font-style: oblique;
}

#hobby pre {
    font-style: italic;
}

input, textarea:focus {
    outline: 0;
    border-color: #7bca64;
    font-family: "FuturaBookC", sans-serif;
}

input[type=text], textarea, select, fieldset {
    padding:5px;
    border:2px solid #ccc;
    border-radius: 5px;
}

input[type=submit], input[type=button] {
    float:right;
    margin: 5px;
}

select {
    font-family: "FuturaBookC", sans-serif;
}

/* Кнопки с Bootstrap */
.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}.btn:focus,.btn:hover{text-decoration:none}.btn.focus,.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}.btn.disabled,.btn:disabled{opacity:.65}.btn:not(:disabled):not(.disabled){cursor:pointer}.btn:not(:disabled):not(.disabled).active,.btn:not(:disabled):not(.disabled):active{background-image:none}a.btn.disabled,fieldset:disabled a.btn{pointer-events:none}.btn-primary{color:#fff;background-color:#007bff;border-color:#007bff}.btn-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc}.btn-primary.focus,.btn-primary:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.btn-primary.disabled,.btn-primary:disabled{color:#fff;background-color:#007bff;border-color:#007bff}.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{color:#fff;background-color:#0062cc;border-color:#005cbf}.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}
.btn-outline-success{color:#28a745;background-color:transparent;background-image:none;border-color:#28a745}.btn-outline-success:hover{color:#fff;background-color:#28a745;border-color:#28a745}.btn-outline-success.focus,.btn-outline-success:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.btn-outline-success.disabled,.btn-outline-success:disabled{color:#28a745;background-color:transparent}.btn-outline-success:not(:disabled):not(.disabled).active,.btn-outline-success:not(:disabled):not(.disabled):active,.show>.btn-outline-success.dropdown-toggle{color:#fff;background-color:#28a745;border-color:#28a745}.btn-outline-success:not(:disabled):not(.disabled).active:focus,.btn-outline-success:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-success.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}